@charset "UTF-8";
/* CSS Document */

/* 폼 테이블 */
.register_form table {
    width: 100%;
}
.register_form table tbody tr td {
    padding: 0.5rem;
}
.register_form table tbody tr td:first-child {
    text-align: left;
    font-weight: 500;
    width: 3%;
}
.register_form table tbody tr td:first-child span.important {
    color: #ff6b61;
    position: relative;
    top: 0.3rem;
}

/* 주소 패널 */
.register_form table tbody tr td.address_panel input::placeholder {
    color: #bfbfbf;
}
.register_form table tbody tr td.address_panel input:not(:first-child) {
    margin-left: 0.5rem;
}

/* 휴대전화 패널 */
.register_form table tbody tr td.phone_panel select,
.register_form table tbody tr td.biz_registration input,
.register_form table tbody tr td.phone_panel input {
    width: 14%;
}

.btn_default {
    margin-left: 0.5rem;
}
.addr_line {
    margin-bottom: 1rem;
}