@charset "UTF-8";
/* CSS Document */

.lists {
	margin-top: 68px;
	padding: 10rem;
}
.lists .notice {
	padding-left: 2rem;
}
.lists .notice p {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 500;
}
.lists .notice ul {
	margin-bottom: 3rem;
}
.lists .notice ul li {
	display: inline-block;
	margin-right: 0.7rem;
	color: #f9be42;
}
.lists ul.content {
	margin: 0;
}
.lists ul.content li {
	display: inline-block;
	width: 33.2%;
	margin-bottom: 2rem;
}
.lists ul.content li .content_wrapper {
	padding: 1rem 2rem;
}
.lists ul.content li .content_wrapper .thumb {
	position: relative;
	width: 100%;
	height: 100%;
	background: #efefef;
	border-radius: 2rem;
	box-shadow: 8px 7px 19px 0px #dcdcdc;
	overflow: hidden;
}
.lists ul.content li .content_wrapper .thumb img {
	width: 100%;
	border-radius: 2rem;
	height: 100%;
}
.lists ul.content li .content_wrapper .thumb .hover {
	position: absolute;
	display: table;
	width: 100%;
	height: 35%;
	bottom: -35%;
	left: 0;
	padding: 2rem;
	background: #f9be42;
	text-align: center;
}
.lists ul.content li .content_wrapper .thumb:hover .hover {
	bottom: 0;
}
.lists ul.content li .content_wrapper .thumb .hover .hover_wrapper {
	display: table-cell;
	vertical-align: middle;
}
.lists ul.content li .content_wrapper .thumb .hover .btn_panel {
	padding: 2rem 1rem;
	text-align: center;
}
.lists ul.content li .content_wrapper .thumb .hover .btn_panel a {
	padding: 0.8rem 3.5rem;
	border-radius: 1.3rem;
	border: 1px solid #fff;
	background: #fff;
	color: inherit;
	cursor: pointer;
}
.lists ul.content li .content_wrapper .thumb .hover .btn_panel a:first-child {
	margin-right: 0.5rem;
}
.lists ul.content li .content_wrapper .info {
	position: relative;
}
.lists ul.content li .content_wrapper .info .price {
	display: inline-block;
}
.lists ul.content li .content_wrapper .info .price span {
	display: block;
}
.lists ul.content li .content_wrapper .info .price span.normal {
	font-size: 1rem;
	color: #cbcbcb;
	text-decoration: line-through;
}
.lists ul.content li .content_wrapper .info .price span.discount {
	font-size: 1.9rem;
	font-weight: 500;
	color: #f9be42;
}
.lists ul.content li .content_wrapper .info .name {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: -0.1rem;
}

.register {
	margin-top: 68px;
	padding: 2rem 10rem;
}
.register .notice {
	padding: 3rem 2rem 0;
	border-bottom: 1px solid #f9be42;
}
.register .notice:after {
	content: '';
	display: block;
	clear: both;
}
.register .notice p {
	float: left;
	line-height: 36px;
}
.register .notice input[type=submit] {
	float: right;
	padding: 0.8rem 3.5rem;
	border-radius: 1.3rem;
	border: 1px solid #f9be42;
	background: #f9be42;
	color: #fff;
	cursor: pointer;
}

/* 모바일 청첩장 제작 */
.register .content {
	box-shadow: 5px 5px 9px 0px #e6e6e6;
}
.register .content .table .item input,
.register .content .table .item select {
	padding: 0.5rem;
	outline-color: #f9be42;
}
.register .content .table .item:last-child {
	padding-bottom: 2rem;
}
.register .content .table .item .item_title {
	padding: 2rem;
	background: #f5f5f5;
	border-bottom: 1px solid #e6e6e6;
}
.register .content .table .item .item_inner {
	padding: 1rem 2rem;
}
.register .content .table .item .item_inner span,
.register .content .table .item .item_inner div {
	display: inline-block;
}
.register .content .table .item .item_inner span:first-child {
	width: 13%;
	text-align: center;
	vertical-align: middle;
}
.register .content .table .item .item_inner .moment {
	padding: 0.5rem 0 0.5rem 11.5rem;
	margin: 0;
	font-size: 1.2rem;
	color: #666;
}
.register .content .table .item .item_inner#main_value .main_thumb {
	width: 15rem;
	height: 15rem;
	line-height: 15rem;
	font-weight: normal;
	background: #eaeaea;
	box-shadow: 5px 5px 9px 0px #e6e6e6;
	cursor: pointer;
	color: #f9be42;
}
.register .content .table .item .item_inner#main_value .main_thumb:hover {
	text-decoration: underline;
}
.register .content .table .item .item_inner#main_value input[type=file] {
	display: none;
}
.register .content .table .item .item_inner#main_value .moment {
	display: none;
}

@media (max-width: 1200px) {
	.lists ul.content li {
		width: 49%
	}
}

@media (max-width: 900px) {
	.lists ul.content li {
		width: 100%
	}
}

@media (max-width: 620px) {
	.register {
		padding: 2rem 3rem;
	}
}

@media (max-width: 450px) {
	.lists ul.content li {
		margin-bottom: 3rem;
	}
	.lists ul.content li .thumb {
		width: 25rem;
		height: 25rem;
	}
}
